<div class="row" style="display:flex; flex-direction:column; align-items:center; justify-content:center; height: 1000px; ">
  <div class='col-md-8'>
    <!-- USERS LIST -->
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">Categories</h3>
        <div class="box-tools pull-right">
        </div>
      </div><!-- /.box-header -->
      <div class="box-body no-padding">
        <ul class="users-list clearfix">
          <li>
            <a class="users-list-name" routerLink="/animal"><i class="fas fa-paw fa-8x"></i></a>
            <span class="users-list-name">Animals</span>
          </li>
          <li>
            <a class="users-list-name"routerLink="/animal"><i class="fas fa-file-invoice-dollar fa-8x"></i></a>
            <span class="users-list-name">Bills</span>
          </li>
          <li>            
            <a class="users-list-name"routerLink="/animal"><i class="fas fa-users fa-8x"></i></a>
            <span class="users-list-name">Customers</span>
          </li>
        </ul><!-- /.users-list -->
      </div><!-- /.box-body -->
    </div><!--/.box -->
  </div><!-- /.col -->
</div>