<div class="row" style="display:flex; padding-top:20px;">
  <button
    style="margin-left:40px;"
    [routerLink]="['/animal/detail', animal?.id]"
    class="btn bg-olive"
  >
    View Details
  </button>
  <button
    style="margin-left:20px;"
    [routerLink]="['/animal/types', animal?.type]"
    class="btn bg-olive"
  >
    Back
  </button>
</div>
<div class="col-md-10" style="padding:50px">
  <!-- general form elements disabled -->
  <div class="box box-success">
    <div class="box-header">
      <h3 class="box-title">
        Edit Animal Info n°{{ idAnimal }} -- {{ typeAnimal | uppercase }}
      </h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <form [formGroup]="editAnimalForm" (ngSubmit)="submitEditAnimal()">
        <div class="row" display="flex">
          <div class="col-md-6">
            <!-- text input -->
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="Enter the name of the animal"
                  formControlName="name"
                />
                <mat-error> Field <strong>required</strong> </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-3">
            <!-- radio -->
            <div class="form-group">
              <mat-radio-group formControlName="sex" [disabled]="disabled">
                <mat-radio-button name="sex" value="F">
                  FEMALE
                </mat-radio-button>
                <mat-radio-button name="sex" value="M"> MALE </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="col-md-3">
            <!-- select -->
            <div class="form-group">
              <mat-form-field>
                <mat-select matNativeControl formControlName="motherId" placeholder="Mother Id" [disabled]="disabled">
                  <mat-option
                    *ngFor="let idAnimal of animalsIdsFemale"
                    [value]="idAnimal"
                    >{{ idAnimal }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row" display="flex">
          <div class="col-md-6">
            <!-- text input -->
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="Enter the barn location"
                  formControlName="barn"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-3">
            <!-- checkbox -->
            <div class="form-group">
              <mat-checkbox formControlName="research" [disabled]="disabled"
                >Part of Research</mat-checkbox
              >
            </div>
          </div>

          <div class="col-md-3">
            <!-- select -->
            <div class="form-group">
              <mat-form-field>
                <mat-select matNativeControl formControlName="fatherId" placeholder="Father Id" [disabled]="disabled">
                  <mat-option
                    *ngFor="let idAnimal of animalsIdsMale"
                    [value]="idAnimal"
                    >{{ idAnimal }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row" display="flex">
          <div class="col-md-3">
            <!-- datepicker -->
            <div class="form-group">
              <mat-form-field>
                <input
                  matInput
                  [max]="today"
                  [matDatepicker]="pickerBirth"
                  formControlName="birthDate"
                  placeholder="Choose a Birth Date"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerBirth"
                ></mat-datepicker-toggle>
                <mat-datepicker #pickerBirth></mat-datepicker>
                <mat-error>
                  Birth Date can not be in the <strong>future</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-3">
            <!-- datepicker -->
            <div class="form-group">
              <mat-form-field>
                <input
                  matInput
                  [max]="today"
                  [matDatepicker]="pickerDeath"
                  formControlName="deathDate"
                  placeholder="Choose a Death Date"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerDeath"
                ></mat-datepicker-toggle>
                <mat-datepicker #pickerDeath></mat-datepicker>
                <mat-error *ngIf="deathDate.errors?.dateInFuture">
                  Death Date can not be in the <strong>future</strong>
                </mat-error>
                <mat-error *ngIf="deathDate.errors?.dateTooSmall">
                  Death Date should be <strong>greater or equal</strong> than
                  Birth Date
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-3">
            <!-- datepicker -->
            <div class="form-group">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Enter the cause of death"
                  formControlName="deathCause"
                />
                <mat-error>
                  Death Date can not be in the <strong>future</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-3">
            <!-- select -->
            <div class="form-group">
              <mat-form-field>
                <mat-select matNativeControl formControlName="state" placeholder="State" [disabled]="disabled">
                  <mat-option value="teen" >TEEN</mat-option>
                  <mat-option value="pregnant" >PREGNANT</mat-option>
                  <mat-option value="nursing" >NURSING</mat-option>
                  <mat-option value="resting" >RESTING</mat-option>
                  <mat-option value="fattening" >FATTENING</mat-option>
                  <mat-option value="dead" >DEAD</mat-option>
                  <mat-option value="sold" >SOLD</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row" display="flex">
          <div class="col-md-3">
            <!-- datepicker -->
            <div class="form-group">
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="pickerArrival"
                  formControlName="arrivalDate"
                  placeholder="Choose a Arrival Date"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerArrival"
                ></mat-datepicker-toggle>
                <mat-datepicker #pickerArrival></mat-datepicker>
                <mat-error>
                  Arrival Date should be <strong>greater or equal</strong> than
                  Birth Date
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-3">
            <!-- datepicker -->
            <div class="form-group">
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="pickerDeparture"
                  formControlName="departureDate"
                  placeholder="Choose a Departure Date"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerDeparture"
                ></mat-datepicker-toggle>
                <mat-datepicker #pickerDeparture></mat-datepicker>
                <mat-error>
                  Departure Date should be <strong>greater</strong> than Arrival
                  Date
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="box-footer">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="!editAnimalForm.valid"
          >
            Submit
          </button>
        </div>
      </form>
      <flash-messages></flash-messages>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
  <app-detail-animal-weight-edit
    [idAnimal]="idAnimal"
    [disabled]="disabled"
  ></app-detail-animal-weight-edit>
  <div class="col-md-9 callout callout-info" *ngIf="birthDay > sixMonthAgo">
    <h4>Animal not old enough to reproduce yet</h4>
  </div>
  <div *ngIf="birthDay < sixMonthAgo">
    <app-detail-animal-delivery-edit
      [idAnimal]="idAnimal"
      [sexAnimal]="sexAnimal"
      [disabled]="disabled"
    ></app-detail-animal-delivery-edit>
  </div>
</div>
<!--/.col (right) -->
