<div class="col-md-12">
  <!-- general form elements disabled -->
  <div class="box box-success" *ngIf="!noDeliveries">
    <div class="box-header">
      <h3 class="box-title">Delivery Info</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body"  >
      <div class="row" display="flex"
        *ngFor=" let delivery of deliveries; let i = index">
        <div class="col-md-5">
          <code>
            <p>
                <i class="far fa-calendar-alt"></i> {{ delivery?.date }}
            </p>
          </code>
        </div>
        <div class="col-md-3">
            <p> <i class="fas fa-baby"></i> {{ delivery?.number }}</p>
        </div>
        <div class="col-md-4" *ngIf="sexAnimal === 'M'">
            <p> <i class="fas fa-venus"></i> Mother n°{{ delivery?.motherId }}</p>
        </div>
        <div class="col-md-4" *ngIf="sexAnimal === 'F'">
          <p> <i class="fas fa-mars"></i> Father n°{{ delivery?.fatherId }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="callout callout-warning"  *ngIf="noDeliveries" >
    <h4>No delivery have been registered yet for this animal</h4>
    <p>Start reproducing it or do some data entry today!</p>
  </div>
</div>
