<div class="row" style="display:flex; padding-top:20px;">
  <button
    style="margin-left:40px;"
    [routerLink]="['/animal/types', idType]"
    class="btn bg-olive"
  >
    Back
  </button>
</div>
<div class="col-md-10" style="padding:50px">
  <!-- general form elements disabled -->
  <div class="box box-success">
    <div class="box-header">
      <h3 class="box-title">Create a new {{ type?.name | uppercase }}</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <form [formGroup]="newAnimalForm" (ngSubmit)="submitCreateAnimal()">
        <div class="row" display="flex">
          <div class="col-md-6">
            <!-- text input -->
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="Enter the name of the animal"
                  value=""
                  formControlName="name"
                />
                <mat-error> Field <strong>required</strong> </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-3">
            <!-- radio -->
            <div class="form-group">
              <mat-radio-group formControlName="sex">
                <mat-radio-button name="sex" value="F">
                  FEMALE
                </mat-radio-button>
                <mat-radio-button name="sex" value="M"> MALE </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="col-md-3">
            <!-- select -->
            <div class="form-group">
              <h6>Select Mother Id</h6>
              <mat-form-field>
                <mat-select matNativeControl formControlName="motherId">
                  <mat-option
                    *ngFor="let idAnimal of animalsIdsFemale"
                    [value]="idAnimal"
                    >{{ idAnimal }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row" display="flex">
          <div class="col-md-6">
            <!-- text input -->
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="Enter the barn location"
                  value=""
                  formControlName="barn"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-3">
            <!-- checkbox -->
            <div class="form-group">
              <mat-checkbox formControlName="research"
                >Part of Research</mat-checkbox
              >
            </div>
          </div>

          <div class="col-md-3">
            <!-- select -->
            <div class="form-group">
              <h6>Select Father Id</h6>
              <mat-form-field>
                <mat-select matNativeControl formControlName="fatherId">
                  <mat-option
                    *ngFor="let idAnimal of animalsIdsMale"
                    [value]="idAnimal"
                    >{{ idAnimal }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row" display="flex">
          <div class="col-md-3">
            <!-- datepicker -->
            <div class="form-group">
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="pickerBirth"
                  [max]="today"
                  formControlName="birthDate"
                  placeholder="Choose a Birth Date"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerBirth"
                ></mat-datepicker-toggle>
                <mat-datepicker #pickerBirth></mat-datepicker>
                <mat-error>
                  Birth Date can not be in the <strong>future</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-3">
            <!-- datepicker -->
            <div class="form-group">
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="pickerArrival"
                  formControlName="arrivalDate"
                  placeholder="Choose a Arrival Date"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerArrival"
                ></mat-datepicker-toggle>
                <mat-datepicker #pickerArrival></mat-datepicker>
                <mat-error>
                  Arrival Date should be <strong>greater or equal</strong> than
                  Birth Date
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-3">
            <!-- select -->
            <div class="form-group">
              <mat-form-field>
                <mat-select matNativeControl formControlName="state" placeholder="State" [disabled]="disabled">
                  <mat-option value="teen" >TEEN</mat-option>
                  <mat-option value="pregnant" >PREGNANT</mat-option>
                  <mat-option value="nursing" >NURSING</mat-option>
                  <mat-option value="resting" >RESTING</mat-option>
                  <mat-option value="fattening" >FATTENING</mat-option>
                </mat-select>
                <mat-error> Field <strong>required</strong> </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <!-- text input -->
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input
              type="number"
              matInput
              placeholder="Enter the current weight"
              value=""
              formControlName="currentWeight"
            />
            <mat-error> Value must be <strong>positive</strong> </mat-error>
          </mat-form-field>
        </div>

        <div class="box-footer">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="!newAnimalForm.valid"
          >
            Submit
          </button>
        </div>
      </form>
      <flash-messages></flash-messages>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>
<!--/.col (right) -->
