<div class="row" style="display:flex; padding-top:20px;">
  <button
    style="margin-left:40px;"
    [routerLink]="['/animal/edit', animal?.id]"
    class="btn bg-olive"
  >
    Edit
  </button>
  <button
    style="margin-left:20px;"
    [routerLink]="['/animal/types', animal?.type]"
    class="btn bg-olive"
  >
    Back
  </button>
</div>
<div class="row" style="display:flex;">
  <div class="col-md-6" style="padding:50px">
    <!-- general form elements disabled -->
    <div class="box box-success">
      <div class="box-header" style="display:flex; justify-content: space-around;">
        <h2 class="box-title">
          Animal Info n°{{ animal?.id }} -- {{ typeAnimal | uppercase }}
        </h2>
        <h2>
          <span *ngIf="animal?.state == 'dead'" class="badge bg-red">
            {{ animal?.state | uppercase}}</span
          >
          <span *ngIf="animal?.state == 'resting'" class="badge bg-green">
            {{ animal?.state | uppercase}}</span
          >
          <span *ngIf="animal?.state == 'sold'" class="badge bg-yellow">
            {{ animal?.state | uppercase}}</span
          >
          <span *ngIf="animal?.state == 'pregnant'" class="badge bg-fuchsia">
            {{ animal?.state | uppercase}}</span
          >
          <span *ngIf="animal?.state == 'teen'" class="badge bg-aqua">
            {{ animal?.state | uppercase}}</span
          >
          <span *ngIf="animal?.state == 'nursing'" class="badge bg-purple">
            {{ animal?.state | uppercase}}</span
          >
          <span *ngIf="animal?.state == 'fattening'" class="badge bg-navy">
            {{ animal?.state | uppercase}}</span
          >
          <span *ngIf="animal?.state == 'supermale'" class="badge bg-black">
            {{ animal?.state | uppercase}}</span
          >
          <span *ngIf="animal?.state == 'retired'" class="badge bg-blue">
            {{ animal?.state | uppercase}}</span
          >
        </h2>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row" display="flex">
          <div class="col-md-4">
            <p><strong>Name: </strong>{{ animal?.name }}</p>
          </div>

          <div class="col-md-4">
            <mat-radio-group [ngModel]="animal?.sex" disabled>
              <mat-radio-button value="F"> FEMALE </mat-radio-button>
              <mat-radio-button value="M"> MALE </mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="col-md-4">
            <mat-checkbox [ngModel]="animal?.isResearch" disabled
              >Part of Research</mat-checkbox
            >
          </div>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <div class="row" display="flex">
          <div class="col-md-4">
            <p><strong>Barn Location: </strong>{{ animal?.barn }}</p>
          </div>
          <div class="col-md-4">
            <p><strong>Mother Id: </strong>{{ animal?.motherId }}</p>
          </div>
          <div class="col-md-4">
            <p><strong>Father Id: </strong>{{ animal?.fatherId }}</p>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <code
          ><div class="row" display="flex" style="margin-top: 20px;">
            <div class="col-md-4">
              <p *ngIf="animal?.birth">
                <em class="fas fa-baby"></em> <strong> Birth Date:</strong>
                {{ animal?.birth }}
              </p>
            </div>

            <div class="col-md-4">
              <p *ngIf="animal?.death">
                <em class="fas fa-skull-crossbones"></em>
                <strong> Death Date:</strong> {{ animal?.death }}
              </p>
            </div>
            <div class="col-md-4">
              <p *ngIf="animal?.death">
                <em class="fas fa-book-dead"></em> <strong> Death Cause:</strong>
                {{ animal?.deathCause }}
              </p>
            </div>
          </div>

          <div class="row" display="flex">
            <div class="col-md-6">
              <p *ngIf="animal?.arrival">
                <em class="fas fa-plane-arrival"></em>
                <strong> Arrival Date:</strong> {{ animal?.arrival }}
              </p>
            </div>

            <div class="col-md-6">
              <p *ngIf="animal?.departure">
                <em class="fas fa-plane-departure"></em>
                <strong> Departure Date:</strong> {{ animal?.departure }}
              </p>
            </div>
          </div></code
        >
      </div>
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->
    <div class="col-md-12" *ngIf="birthDate < sixMonthAgo">
      <app-detail-animal-mating
        [idAnimal]="idAnimal"
        [sexAnimal]="sexAnimal"
      ></app-detail-animal-mating>
    </div>
    <div class="col-md-12" *ngIf="birthDate < sixMonthAgo">
      <app-detail-animal-delivery
        [idAnimal]="idAnimal"
        [sexAnimal]="sexAnimal"
      ></app-detail-animal-delivery>
    </div>
    <div class="callout callout-info" *ngIf="birthDate > sixMonthAgo">
      <h4>Animal not old enough to reproduce yet</h4>
    </div>
  </div>
  <div class="col-md-6">
    <app-detail-animal-weight [idAnimal]="idAnimal"></app-detail-animal-weight>
  </div>
</div>
