<div class="row" style="display:flex; padding:20px;">
    <button style="margin-left:40px;" routerLink="/animal" class="btn bg-olive">Back</button>
    <button style="margin-left:40px;" [routerLink]="['/animal/add/batch/', type?.id]" class="btn bg-olive">Add Batch {{ type?.name | uppercase }}S</button>
    <button style="margin-left:40px;" [routerLink]="['/animal/add/batch/weight', type?.id]" class="btn bg-olive" >Add Batch WEIGHTS</button>
</div>
<div class="row">
  <div class="col">
    <div class="box">
      <div class="box-header row" style="display:flex;">
        <div class="col-md-3">
        <h3 class="box-title">ALL {{ type?.name | uppercase }}S</h3>
        <p style="margin-left: 20px;" class="box-title">
          <a  [routerLink]="['/animal/add', idType]"><em class="fas fa-plus-circle fa-2x"></em></a> 
        </p>
        </div>
        <div class="col-md-6">
            <flash-messages></flash-messages>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>ANIMAL ID</th>
              <th>NAME</th>
              <th>SEX <em class="fas fa-filter" (click)="getUniqueValuesForColumn('sex')"></em>
                  <mat-select *ngIf="column==='sex'" #sexSelect style="width: 0px">
                    <mat-option *ngFor="let unique of uniqueValues" (click)="filterBy(unique)">{{unique}}</mat-option>
                  </mat-select>
              </th>
              <th>AGE</th>
              <th>BARN<em class="fas fa-filter" (click)="getUniqueValuesForColumn('barn')"></em>
                <mat-select *ngIf="column==='barn'" #barnSelect style="width: 0px">
                    <mat-option *ngFor="let unique of uniqueValues" (click)="filterBy(unique)">{{unique}}</mat-option>
                  </mat-select>
              </th>
              <th >LAST WEIGHT<em class="fas fa-filter" (click)="getUniqueValuesForColumn('lastWeight')"></em>
                <mat-select *ngIf="column==='weight'" #weightSelect style="width: 0px">
                    <mat-option *ngFor="let unique of uniqueValues" (click)="filterBy(unique)">{{unique}}</mat-option>
                  </mat-select>
              </th>
              <th>LAST DATE WEIGHT <em class="fas fa-filter" (click)="getUniqueValuesForColumn('lastDateWeight')"></em>
                <mat-select *ngIf="column==='date'" #dateSelect style="width: 0px">
                    <mat-option *ngFor="let unique of uniqueValues" (click)="filterBy(unique)">{{unique}}</mat-option>
                  </mat-select>
              </th>
              <th >STATUS <em class="fas fa-filter" (click)="getUniqueValuesForColumn('state')"></em>
                <mat-select *ngIf="column==='state'" #stateSelect style="width: 0px">
                    <mat-option *ngFor="let unique of uniqueValues" (click)="filterBy(unique)">{{unique}}</mat-option>
                </mat-select>
              </th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let animal of animals | paginate: {itemsPerPage:20, currentPage: pagination} | tableFilter: {column:columnFilter, choice:choiceFilter}">
              <td>{{ animal?.id }}</td>
              <td>{{ animal?.name }}</td>
              <td>
                <span *ngIf="animal?.sex == 'M'" class="badge bg-aqua">
                  {{ animal?.sex }}</span
                >
                <span *ngIf="animal?.sex == 'F'" class="badge bg-purple">
                  {{ animal?.sex }}</span
                >
              </td>
              <td><span *ngIf="animal?.ageYear > 0">{{ animal?.ageYear }}Y -</span> {{ animal?.ageMonth }}m <span style="float:right;" *ngIf="animal?.ageYear >=1 && animal?.ageMonth >= 5 && (animal?.state != 'nursing' || animal?.state != 'resting' || animal?.state != 'supermale')" class="badge bg-blue">RETIRE <em class="fas fa-check"></em></span></td>
              <td>{{ animal?.barn }}</td>
              <td>{{ animal?.lastWeight }} kg<span style="float:right;" *ngIf="animal?.lastWeight > targetWeight && animal?.state != 'pregnant' && animal?.state != 'nursing'" class="badge bg-yellow">TARGET <em class="fas fa-check"></em></span></td>
              <td>{{ animal?.lastDateWeight }}</td>
              <td>
                <span *ngIf="animal?.state == 'dead'" class="badge bg-red">
                  {{ animal?.state | uppercase}}</span
                >
                <span *ngIf="animal?.state == 'resting'" class="badge bg-green">
                  {{ animal?.state | uppercase}}</span
                >
                <span *ngIf="animal?.state == 'sold'" class="badge bg-yellow">
                  {{ animal?.state | uppercase}}</span
                >
                <span *ngIf="animal?.state == 'pregnant'" class="badge bg-fuchsia">
                  {{ animal?.state | uppercase}}</span
                >
                <span *ngIf="animal?.state == 'teen'" class="badge bg-aqua">
                  {{ animal?.state | uppercase}}</span
                >
                <span *ngIf="animal?.state == 'nursing'" class="badge bg-purple">
                  {{ animal?.state | uppercase}}</span
                >
                <span *ngIf="animal?.state == 'fattening'" class="badge bg-navy">
                  {{ animal?.state | uppercase}}</span
                >
                <span *ngIf="animal?.state == 'supermale'" class="badge bg-black">
                  {{ animal?.state | uppercase}}</span
                >
                <span *ngIf="animal?.state == 'retired'" class="badge bg-blue">
                  {{ animal?.state | uppercase}}</span
                >
              </td>
              <td>
                <a [routerLink]="['/animal/detail/', animal.id]"
                  ><em class="fa fa-info"></em
                ></a>
              </td>
              <td>
                <a [routerLink]="['/animal/edit', animal.id]"
                  ><em class="fa fa-edit"></em
                ></a>
              </td>
              <td>
                <a (click)="deleteAnimal(animal.id)"
                  ><em class="fa fa-trash"></em
                ></a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>ANIMAL ID</th>
              <th>NAME</th>
              <th>SEX</th>
              <th>AGE</th>
              <th>BARN</th>              
              <th>LAST WEIGHT</th>
              <th>LAST DATE WEIGHT</th>
              <th>STATUS</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </tfoot>
        </table>
        <div class="row" style="display:flex; justify-content:center;">
          <pagination-controls class="my-pagination" (pageChange)="pagination = $event"></pagination-controls>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
