<div class="row" style="display:flex; padding:20px;">
    <button style="margin-left:40px;" routerLink="/animal" class="btn bg-olive">Back</button>
    <button style="margin-left:40px;" [routerLink]="['/animal/add/batch/', type?.id]" class="btn bg-olive">Add Batch {{ type?.name | uppercase }}S</button>
    <button style="margin-left:40px;" [routerLink]="['/animal/add/batch/weight', type?.id]" class="btn bg-olive" >Add Batch WEIGHTS</button>
</div>
<div class="row">
  <div class="col">
    <div class="box">
      <div class="box-header row" style="display:flex;">
        <div class="col-md-3">
        <h3 class="box-title">ALL {{ type?.name | uppercase }}S</h3>
        <p style="margin-left: 20px;" class="box-title">
          <a  [routerLink]="['/animal/add', idType]"
            ><i class="fas fa-plus-circle fa-2x"></i
          ></a> 
        </p>
        </div>
        <div class="col-md-6">
            <flash-messages></flash-messages>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>ANIMAL ID</th>
              <th>NAME</th>
              <th>SEXE</th>
              <th>AGE</th>
              <th>BARN NUMBER</th>
              <th>LAST DATE WEIGHT</th>
              <th>LAST WEIGHT</th>
              <th>STATUS</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let animal of animals | paginate: {itemsPerPage:20, currentPage: pagination}">
              <td>{{ animal?.id }}</td>
              <td>{{ animal?.name }}</td>
              <td>
                <span *ngIf="animal?.sex == 'M'" class="badge bg-aqua">
                  {{ animal?.sex }}</span
                >
                <span *ngIf="animal?.sex == 'F'" class="badge bg-purple">
                  {{ animal?.sex }}</span
                >
              </td>
              <td>{{ animal?.age }}</td>
              <td>{{ animal?.barn }}</td>
              <td>{{ animal?.lastDateWeight }}</td>
              <td>{{ animal?.lastWeight }}</td>
              <td>
                <span *ngIf="animal?.state == 'dead'" class="badge bg-red">
                  {{ animal?.state | uppercase}}</span
                >
                <span *ngIf="animal?.state == 'resting'" class="badge bg-green">
                  {{ animal?.state | uppercase}}</span
                >
                <span *ngIf="animal?.state == 'sold'" class="badge bg-yellow">
                  {{ animal?.state | uppercase}}</span
                >
                <span *ngIf="animal?.state == 'pregnant'" class="badge bg-orange">
                  {{ animal?.state | uppercase}}</span
                >
                <span *ngIf="animal?.state == 'teen'" class="badge bg-purple">
                  {{ animal?.state | uppercase}}</span
                >
                <span *ngIf="animal?.state == 'nursing'" class="badge bg-blue">
                  {{ animal?.state | uppercase}}</span
                >
                <span *ngIf="animal?.state == 'fattening'" class="badge bg-black">
                  {{ animal?.state | uppercase}}</span
                >
              </td>
              <td>
                <a [routerLink]="['/animal/detail/', animal.id]"
                  ><i class="fa fa-info"></i
                ></a>
              </td>
              <td>
                <a [routerLink]="['/animal/edit', animal.id]"
                  ><i class="fa fa-edit"></i
                ></a>
              </td>
              <td>
                <a (click)="deleteAnimal(animal.id)"
                  ><i class="fa fa-trash"></i
                ></a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>ANIMAL ID</th>
              <th>NAME</th>
              <th>SEXE</th>
              <th>AGE</th>
              <th>BARN NUMBER</th>
              <th>LAST DATE WEIGHT</th>
              <th>LAST WEIGHT</th>
              <th>STATUS</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </tfoot>
        </table>
        <div class="row" style="display:flex; justify-content:center;">
          <pagination-controls class="my-pagination" (pageChange)="pagination = $event"></pagination-controls>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
