<div class="col-md-10" style="padding:20px">
  <!-- general form elements disabled -->
  <div class="box box-success">
    <div class="box-header"><h3 class="box-title">Edit Weight Info</h3></div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="callout callout-warning"  *ngIf="noWeights" >
        <h4>No weight have been registered yet for this animal</h4>
        <p>Start some measurement or data entry today!</p>
      </div>
      <form [formGroup]="editWeightForm" (ngSubmit)="submitEditWeight()">
        <div formArrayName="weightItems">
          <div
            class="row"
            display="flex"
            *ngFor="
              let weight of editWeightForm.get('weightItems').controls;
              let i = index
            "
            [formGroupName]="i"
          >
            <div class="col-md-4">
              <!-- datepicker -->
              <div class="form-group">
                <mat-form-field>
                  <input
                    matInput
                    [max]="today"
                    [matDatepicker]="picker"
                    formControlName="weightDate"
                    placeholder="Choose a Weight Date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4">
              <!-- text input -->
              <div class="form-group">
                <mat-form-field class="example-full-width">
                  <input
                    type="number"
                    matInput
                    placeholder="Enter the measured weight"
                    formControlName="measure"
                  />
                  <mat-error>
                      Measurement must be between <strong>0 and 100 lbs</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group icon">
                <i
                  *ngIf="diffs[i] === 'start'"
                  class="fas fa-asterisk"
                  style="color:blue;"
                ></i>
                <i
                  *ngIf="diffs[i] === 'up'"
                  class="fas fa-arrow-up"
                  style="color:green; transform: rotate(45deg);"
                ></i>
                <i
                  *ngIf="diffs[i] === 'equal'"
                  class="fas fa-equals"
                  style="color:orange"
                ></i>
                <i
                  *ngIf="diffs[i] === 'down'"
                  class="fas fa-arrow-down"
                  style="color:red; transform: rotate(-45deg);"
                ></i>
              </div>
            </div>
            <div class="col-md-1" *ngIf="!disabled">
              <div class="form-group icon">
                <a (click)="deleteWeight(i)"><i class="fa fa-trash"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer" *ngIf="!disabled">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="!editWeightForm.valid"
          >
            Submit
          </button>
          <a (click)="addNewWeightControl()" style="padding-left:25px;"
            ><i class="fas fa-plus-circle fa-2x"></i
          ></a>
        </div>
       
      </form>
      <flash-messages></flash-messages>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>
<!--/.col (right) -->
